In [1]:
#Practice with integers, floats, strings, booleans
print("Practicing with Python")

Practicing with Python

In [2]:
#Create a variable x = to Practicing with python
x = "Practicing with Python"
print(x)

Practicing with Python

In [3]:
#What type
type(x)

str

In [7]:
#demonstrate that a float can not be converted to a string
float(x)

ValueError: could not convert string to float: 'Practicing with Python'

In [8]:
#nor can it be converted to a integer
int(x)

ValueError: invalid literal for int() with base 10: 'Practicing with Python'

In [9]:
#Lets try converting floats to integers
y = 1.1
y

1.1

In [10]:
type(y)

float

In [11]:
#we can convert a float to an integer but will lose data because we no longer have decimal point
int(y)

1

In [12]:
#convert back to a float
float(y)

1.1

In [13]:
#unlike strings being converted to int or floats, floats and integers can be turned into strings
str(y)

'1.1'

In [14]:
type(y)

float

In [15]:
int(y)

1

In [16]:
str(y)

'1.1'

In [17]:
#booleans
True

True

In [18]:
False

False

In [19]:
type(True)

bool

In [20]:
type(False)

bool

In [21]:
#booleans can be represented as 1 for True and 0 for False
int(False)

0

In [22]:
int(True)

1

In [23]:
float(False)

0.0

In [24]:
float(True)

1.0

In [28]:
x = (True)
y = (False)
print(x, y)

True False

In [29]:
#Expressions and Variables
x = 3 + 2
x

5

In [30]:
y = 6 * 3
y

18

In [31]:
x + y

23

In [32]:
x + y * y * x

1625

In [33]:
3/6

0.5

In [34]:
3//6

0

In [35]:
type(3/6)

float

In [36]:
# for integer division use double backslash
type(3//6)

int

In [43]:
#use variables to show x as 28 eggs in this example and use y to calculate how many dozen
x = 28
y = x/12
y

2.3333333333333335

In [38]:
type(y)

float

In [39]:
int(y)

2

In [97]:
#example of remainder division
21%5

1

In [98]:
#example of squared
5**3

125

In [44]:
#demonstrate utilizing indexing to search a variable containing a string
a = "Learning to use Python"
a[4]

'n'

In [45]:
a[0:3]

'Lea'

In [46]:
len(a)

22

In [48]:
a[-1]

'n'

In [51]:
#utilize slicing to print only Python
a[15:22]

' Python'

In [53]:
#get every 2nd element
a[::2]

'Lann ouePto'

In [55]:
#get every 2nd element from range 10 - 20 
a[10:20:2]

'ouePt'

In [76]:
#Concatenate Strings
b = a + " hope this doesn't take too long"
b

"Learning to use Python hope this doesn't take too long"

In [77]:
b.upper()

"LEARNING TO USE PYTHON HOPE THIS DOESN'T TAKE TOO LONG"

In [78]:
b.lower()

"learning to use python hope this doesn't take too long"

In [80]:
c = b.upper()
print("Before Upper:", b)
print("After Upper:", c)

Before Upper: Learning to use Python hope this doesn't take too long
After Upper: LEARNING TO USE PYTHON HOPE THIS DOESN'T TAKE TOO LONG

In [84]:
a = "Michael Jackson is the best"
b = a.replace('Michael', 'Janet')
b

'Janet Jackson is the best'

In [87]:
f = "Learning Python Hope This Doesnt Take Too Long"
g = f.replace('Hope','Pray')
g

'Learning Python Pray This Doesnt Take Too Long'

In [88]:
#use the find feature to search a string
my_string = "This is a string I created to use as an example of how to search"

In [90]:
my_string.find("use")

30

In [91]:
#show example of what appears if substring does not appear in string
my_string.find("z")

-1

In [101]:
#example of utilizing _ to continue calculation. _ assigns variable of last printed expression
5 *3+(4 +6.2)

25.2

In [103]:
_ + 2

27.2

In [104]:
tax = 6.5/100
price = 175
price * tax

11.375

In [105]:
round(_, 2)

11.38

In [106]:
#create a list with a combo if int, float, str
t = [10.2, "This List", 4, 4, 7.8]
t

[10.2, 'This List', 4, 4, 7.8]

In [107]:
len(t)

5

In [108]:
t[3]

4

In [109]:
t[1:4]

['This List', 4, 4]

In [117]:
#show example of positive and negative indexing of list
t[-4]

'This List'

In [118]:
t[4]

7.8

In [119]:
#show an example of nesting a list w/in a list
nest = [a, b, 8.2, [5, "Sublist"],"Main List"]

In [120]:
print(nest)

['Michael Jackson is the best', 'Janet Jackson is the best', 8.2, [5, 'Sublist'], 'Main List']

In [126]:
nest.extend(["add to the list","and this too"])

In [127]:
print(nest)

['Michael Jackson is the best', 'Janet Jackson is the best', 8.2, [5, 'Sublist'], 'Main List', 'add to the list', 'and this too', 'add to the list', 'and this too']

In [131]:
#delete item from list, this deletes by index position
del (nest[1])
nest

['Michael Jackson is the best',
 8.2,
 [5, 'Sublist'],
 'Main List',
 'add to the list',
 'and this too',
 'add to the list',
 'and this too']

In [132]:
#create a tuple and sort by index position
tup = (10.2, "My Tuple 2", 9, "9")
print(tup[0])

10.2

In [134]:
print(tup[3])

9

In [135]:
#display type of "9" in tuple versus 9
type(tup[3])

str

In [136]:
type(tup[2])

int

In [137]:
#a tuple can contain strings, integers and floats
type(tup[0])

float

In [139]:
new_tup = (10, 5, 1, 7, 3, 9, 9, 1, 0, 4, 7)
new_tup

(10, 5, 1, 7, 3, 9, 9, 1, 0, 4, 7)

In [140]:
sorted(new_tup)

[0, 1, 1, 3, 4, 5, 7, 7, 9, 9, 10]

In [141]:
#create a new tuple of the sorted tuple
sort_tup = sorted(new_tup)
sort_tup

[0, 1, 1, 3, 4, 5, 7, 7, 9, 9, 10]

In [144]:
#demonstrate a nested tuple
nest_tup = (10, 8, 4, ("Nest 1", 2.1, "3"),"Base Tuple 2", 10.9)
nest_tup

(10, 8, 4, ('Nest 1', 2.1, '3'), 'Base Tuple 2', 10.9)

In [148]:
print(nest_tup)

(10, 8, 4, ('Nest 1', 2.1, '3'), 'Base Tuple 2', 10.9)

In [149]:
#demonstrate indexing 
print("Index Position 0:",nest_tup[0])
print("Index Position 1:",nest_tup[1])
print("Index Position 2:",nest_tup[2])
print("Index Position 3:",nest_tup[3])
print("Index Position 4:",nest_tup[4])
print("Index Position 5:",nest_tup[5])

Index Position 0: 10
Index Position 1: 8
Index Position 2: 4
Index Position 3: ('Nest 1', 2.1, '3')
Index Position 4: Base Tuple 2
Index Position 5: 10.9

In [152]:
#demonstrate printing by nest index
print('Nested Index 0:', nest_tup[3][0])
print('Nested Index 1:', nest_tup[3][1])
print('Nested Index 2:', nest_tup[3][2])

Nested Index 0: Nest 1
Nested Index 1: 2.1
Nested Index 2: 3

In [153]:
type(nest_tup[3][0])

str

In [157]:
#find the position of an index in a tuple
nest_tup.index('Base Tuple 2')

4

In [155]:
type(nest_tup)

tuple

In [160]:
#display an example of using an if statement
year = 2007
if year > 2004:
    print("At Least Its Not 20 Years Old, Dude!")
print("Its still nice")

At Least Its Not 20 Years Old, Dude!
Its still nice

In [168]:
age = 16
if age >= 18:
    print("You can enter")
else:
    print("Sorry Bro!")

Sorry Bro!

In [170]:
#example of using if, else, elif statements
age = 13

if age <= 0:
    print("You are too young to enter any area.")
elif age <= 12:
    print("You can go to the kids area.")
elif age <= 18:
    print("You can go to the teen area.")
else:
    print("You can enter the adult area.")

print("Welcome in?")

You can go to the teen area.
Welcome in?

In [178]:
#demonstrate and statement

age = 0

if age >=0 and age <=18:
    print("we have a kids show!")
elif age >=19 and age <=65:
    print("we have an adult show!")
elif age >=66:
    print("we have a seniors show")

we have a kids show!

In [182]:
from statistics import mean

In [185]:
#demonstrate using a loop to change a list
list_a = [7, 3, 1, 4, 6, 7]

mean_list = mean(list_a)

for i in range(len(list_a)):
    list_a[i] = mean_list

In [186]:
print(mean_list)

4.666666666666667

In [187]:
print(list_a)

[4.666666666666667, 4.666666666666667, 4.666666666666667, 4.666666666666667, 4.666666666666667, 4.666666666666667]

In [188]:
#PRACTICE, Write a code which will calculate a total bill for your lunch based upon the items you order
lunch_menu = ['Burger','Club','BLT','SALAD','SODA','WATER']

In [191]:
menu_price = { 'Burger': 12.75,
              'Club' : 11.00,
              'BLT' : 11.50,
              'SALAD' : 10.75,
              'SODA' : 4.00,
              'WATER' : 0,
             }

In [203]:
order = ('Burger', 'BLT', 'BLT', 'SODA', 'WATER')
tax =  .07
order_total = sum(menu_price[item] for item in order)
order_total_tax = order_total * tax
Final_w_tax = order_total +order_total_tax
print("This is your order total", order_total)
print("Tax", order_total_tax)
print("Total with Tax", Final_w_tax)

This is your order total 39.75
Tax 2.7825
Total with Tax 42.5325

In [197]:
#demonstrate a loop
years = [1920, 1930, 1940, 1950, 1960, 1970]
n = len(years)

for i in range(n):
    print(years[i])

1920
1930
1940
1950
1960
1970

In [214]:
#item is a variable that takes on the values from the order tuple. In this case, it's used as a loop variable to iterate over the items in the order tuple.
#for item in order is a generator expression. It iterates over each item in the order tuple one by one.

new_order = ('SALAD','SALAD','WATER','WATER','SODA')
no_total = sum(menu_price[item] for item in new_order)
tax = no_total * .07
no_total_tax = no_total + tax
print("This is your order total", no_total)
print("This is your tax", tax)
print("This is your total due", no_total_tax)

This is your order total 25.5
This is your tax 1.7850000000000001
This is your total due 27.285

In [209]:
#Create a tools list of 6 different tools and create a dictionary for the tool prices. 
#Then code a program that will give a total with 7% sales tax

tools = ['HAMMER','AXE','WRENCH','HOSE','PLIERS','SAW']
tool_prices = {'HAMMER': 15.00,
           'AXE': 20.00,
           'WRENCH': 10.00,
           'HOSE': 22.00,
           'PLIERS': 18.00,
           'SAW': 25.00}

In [215]:
purch = ['HAMMER','HAMMER','AXE','HOSE','PLIERS','SAW']
purch_total = sum(tool_prices[item] for item in purch)
tax = purch_total * .07
purch_total_tax = purch_total + tax
print('This is your order total', purch_total)
print('This is your tax due', tax)
print('This is your total w/ tax', purch_total_tax)

This is your order total 115.0
This is your tax due 8.05
This is your total w/ tax 123.05

In [217]:
parts = ['BOLT', 'GEAR', 'CIRCUIT BOARD', 'SPRING', 'O-RING', 'VALVE', 'MOTOR', 'LED BULB']
p_price = {'BOLT': 2.00,
           'GEAR': 55.00, 
           'CIRCUIT BOARD': 125.00,
           'SPRING':1.50,
           'O-RING': 4.75,
           'VALVE': 6.00,
           'MOTOR': 695.00, 
           'LED BULB': 12.00}
total = sum(p_price[item] for item in parts)
tax = total *.07
total_w_tax = total + tax
print('This is your total', total)
print('This is your tax', tax)
print('This is your total w/ tax', total_w_tax)

This is your total 901.25
This is your tax 63.087500000000006
This is your total w/ tax 964.3375

In [225]:
band_eq = ['VIOLIN', 'TRUMPET', 'PIANO', 'DRUMS', 'FLUTE']
eq_cost = {'VIOLIN': 1200.00,
           'TRUMPET': 995.00,
           'PIANO':2250.00,
           'DRUMS':895.00,
           'FLUTE': 1395.00}
total_eq = sum(eq_cost[item] for item in band_eq)
tax = total_eq *.07
total_eq_tax = total_eq + tax
print('This is your total ${:.2f}'.format(total_eq))
print('This is your tax ${:.2f}'.format(tax))
print('This is your total w/ tax $', total_eq_tax)

This is your total $6735.00
This is your tax $471.45
This is your total w/ tax $ 7206.45

In [228]:
for i in range(6):
    print('This is iteration', i)

This is iteration 0
This is iteration 1
This is iteration 2
This is iteration 3
This is iteration 4
This is iteration 5

In [230]:
#iterating over a list
list_c = ['A','B','C','D','E','F']
for letters in list_c:
    print('Here is letter', letters)

Here is letter A
Here is letter B
Here is letter C
Here is letter D
Here is letter E
Here is letter F

In [232]:
band_eq = ['VIOLIN', 'TRUMPET', 'PIANO', 'DRUMS', 'FLUTE']
for instruments in band_eq:
    print(instruments)

VIOLIN
TRUMPET
PIANO
DRUMS
FLUTE

In [233]:
parts = ['BOLT', 'GEAR', 'CIRCUIT BOARD', 'SPRING', 'O-RING', 'VALVE', 'MOTOR', 'LED BULB']
for part in parts:
    print(part)

BOLT
GEAR
CIRCUIT BOARD
SPRING
O-RING
VALVE
MOTOR
LED BULB

In [234]:
for num in range(1, 6):
    print("Square of", num, "is", num * num)

Square of 1 is 1
Square of 2 is 4
Square of 3 is 9
Square of 4 is 16
Square of 5 is 25

In [235]:
for num in range(-9,9):
    print(num)

-9
-8
-7
-6
-5
-4
-3
-2
-1
0
1
2
3
4
5
6
7
8

In [236]:
#iterating over a string
word = "Python"
for letter in word:
    print("Letter:", letter)

Letter: P
Letter: y
Letter: t
Letter: h
Letter: o
Letter: n

In [240]:
string = "Selecting every other letter from a word will result in a shorter version of the word."
for letters in string:
    print(letters[::2])

S
e
l
e
c
t
i
n
g

e
v
e
r
y

o
t
h
e
r

l
e
t
t
e
r

f
r
o
m

a

w
o
r
d

w
i
l
l

r
e
s
u
l
t

i
n

a

s
h
o
r
t
e
r

v
e
r
s
i
o
n

o
f

t
h
e

w
o
r
d
.

In [241]:
#nested for loops
for i in range(3):
    for j in range(2):
        print("i:", i, "j:", j)

i: 0 j: 0
i: 0 j: 1
i: 1 j: 0
i: 1 j: 1
i: 2 j: 0
i: 2 j: 1

In [248]:
band_eq = ['VIOLIN', 'TRUMPET', 'PIANO', 'DRUMS', 'FLUTE']
eq_cost = {'VIOLIN': 1200.00,
           'TRUMPET': 995.00,
           'PIANO':2250.00,
           'DRUMS':895.00,
           'FLUTE': 1395.00}
for instrument in band_eq:
    cost = eq_cost.get(instrument)
    print(instrument, cost)

VIOLIN 1200.0
TRUMPET 995.0
PIANO 2250.0
DRUMS 895.0
FLUTE 1395.0

In [255]:
#create a list, create a corresponding dictionary and the iterate through the list and print the list and corresponding cost
fb_eq = ['HELMET','FOOTBALL','CLEATS','SHOULDERPADS','MOUTHGUARD']
cost_fb_eq = {'HELMET': 150.00,
              'FOOTBALL': 40.00,
              'CLEATS': 120.00,
              'SHOULDERPADS': 90.00,
              'MOUTHGUARD':15.00}
for equipment in fb_eq:
    cost = cost_fb_eq.get(equipment)
    print(equipment, cost)

HELMET 150.0
FOOTBALL 40.0
CLEATS 120.0
SHOULDERPADS 90.0
MOUTHGUARD 15.0

In [258]:
parts = ['BOLT', 'GEAR', 'CIRCUIT BOARD', 'SPRING', 'O-RING', 'VALVE', 'MOTOR', 'LED BULB']
n = len(parts)

for i in range(n):
    print(parts[i])

BOLT
GEAR
CIRCUIT BOARD
SPRING
O-RING
VALVE
MOTOR
LED BULB